@model IEnumerable<LoginWithSession.Models.RegistrationDetail>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core. Raj Kumar</a>.</p>
</div>
<div class="form">
    <table style="background-color:aqua">
        <tr style="background-color:cadetblue">
            <th>@Html.DisplayNameFor(RegistrationDetail =>RegistrationDetail.Id)</th>
            <th>@Html.DisplayNameFor(RegistrationDetail => RegistrationDetail.Namee)</th>
            <th>@Html.DisplayNameFor(RegistrationDetail => RegistrationDetail.Gender)</th>
            <th>@Html.DisplayNameFor(RegistrationDetail => RegistrationDetail.Age)</th>
            <th>@Html.DisplayNameFor(RegistrationDetail => RegistrationDetail.Email)</th>
            <th>@Html.DisplayNameFor(RegistrationDetail => RegistrationDetail.Passwords)</th>
        </tr>
        @{
            foreach(var items in Model)
            {
                <tr>
                    <td>@items.Id</td>
                    <td>@items.Namee</td>
                    <td>@items.Gender</td>
                    <td>@items.Age</td>
                    <td>@items.Email</td>
                    <td>@items.Passwords</td>
                </tr>
            }
            
        }
        
    </table>
</div>
